.git/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.env
*.log
*.sqlite
.DS_Store
.vscode/
.idea/
app/downloads/*
!app/downloads/.gitignore
test_download.*
*.mp3
*.mp4
node_modules/
